<div class="row">
  <div class="col s3 z-depth-2 blue-grey lighten-5 sidebar hide-on-small-only">
    <% if @user_tweets.any? %>
    <h3>All Tweets</h3>
    <p>by <a href="https://twitter.com/Twittamir_Putin">@Twittamir_Putin</a></p>
    <hr>
  <% @user_tweets.each do |tweet| %>
  <div class="tweets">
    <p><%= tweet.text.add_tags %> <p>
    </div><hr>
    <% end %>
    <% end %>
  </div>


<div class="col m9 s12">
  <form  action="/emoji" method="post">
      <div class="input-field col s12">
        <textarea id="sentence" name="sentence" class="materialize-textarea" maxlength="140" required></textarea>
        <label for="sentence">Compose a Tweet</label>
        <button type="submit" class="btn blue">Emojify</button>
      </div>

  </form>




<div class="content">
  <% if @return %>
  <% tweet = @return %>

  <div class="row">
       <div class="col s12">
         <div class="card-panel grey lighten-3">
           <p> <b style="font-size: 20px"><%= tweet[:user_name] %></b> <span class="grey-text"> @<a href="https://twitter.com/<%= tweet[:screen_name]%>" class="grey-text"><%= tweet[:screen_name] %></a> • <%= Time.now - tweet[:created_at]%></span></p><hr>
           <p><%= tweet[:text].add_tags %></p>

           <ul class="collapsible" data-collapsible="accordion">
               <li>
                 <div class="collapsible-header"><i class="material-icons">translate</i>See Translations</div>
                 <div class="collapsible-body">
                   <p><b>Emoji</b></p>
                   <p><%= tweet[:emoji] %></p>
                   <form action="/tweet" method="post">
                     <input type="hidden" name="tweet" value=" <%= tweet[:emoji] %>">
                     <button type="button" name="button" class="btn amber center" style="margin-left: 10px;"><i class="material-icons">repeat</i>retweet</button>
                   </form>
                 </div>
                 <div class="collapsible-body">
                   <p><b>Russian</b></p>
                   <p><%= tweet[:russian].add_tags %></p>
                   <form action="/tweet" method="post">
                     <input type="hidden" name="tweet" value=" <%= tweet[:russian] %>">
                     <button type="button" name="button" class="btn amber center" style="margin-left: 10px;"><i class="material-icons">repeat</i>retweet</button>
                   </form>
                 </div>
                 <div class="collapsible-body">
                   <p><b>Spanish</b></p>
                   <p><%= tweet[:spanish].add_tags %></p>
                   <form action="/tweet" method="post">
                     <input type="hidden" name="tweet" value=" <%= tweet[:spanish] %>">
                     <button type="button" name="button" class="btn amber center" style="margin-left: 10px;"><i class="material-icons">repeat</i>retweet</button>
                   </form>
                 </div>
                 <div class="collapsible-body">
                   <p><b>Japanese</b></p>
                   <p><%= tweet[:japanese].add_tags %></p>
                   <form action="/tweet" method="post">
                     <input type="hidden" name="tweet" value=" <%= tweet[:japanese] %>">
                     <button type="button" name="button" class="btn amber center" style="margin-left: 10px;"><i class="material-icons">repeat</i>retweet</button>
                   </form>
                 </div>

               </li>
             </ul>
           <!-- <div class="card-action">
             <a href="#!" class="waves-effect waves-circle waves-light btn-floating secondary-content amber">
               <i class="material-icons">translate</i>
             </a>

           </div> -->
         </div>
       </div>
     </div>
     <% end %>

  </div>
  </div>
</div>
