<div class="row">
  <div class="col s3 z-depth-2 blue-grey lighten-5 sidebar hide-on-small-only">
    <% if @user_tweets.any? %>
      <h4>All Tweets</h4>
      <p>by <a href="https://twitter.com/TwittamirPutin">@TwittamirPutin</a></p>
      <hr>
      <% @user_tweets.each do |tweet| %>
        <div class="tweets">
          <p><%= tweet.text.add_tags %> </p>
        </div>
        <hr>
        <% end %>
    <% end %>
  </div>

  <div class="col m9 s12">
    <h5>Translate Your Text</h5>
    <form  action="/emoji" method="post">
        <div class="input-field col s12">
          <textarea id="sentence" name="sentence" class="materialize-textarea" maxlength="140" required></textarea>
          <label for="sentence">Enter text below</label>
          <button type="submit" class="btn blue">Translate</button>
          <br>
        </div>
        <br>
    </form>
    <br>

  <div class="content">

    <% if @return %>
    <% tweet = @return %>

    <div class="row">
         <div class="col s12"><br>
           <div class="card-panel grey lighten-3">
             <p> <b style="font-size: 20px"><%= tweet[:user_name] %></b> <span class="grey-text"> @<a href="https://twitter.com/<%= tweet[:screen_name]%>" class="grey-text"><%= tweet[:screen_name] %></a> • <%= Time.now - tweet[:created_at]%></span></p><hr>
             <p><%= tweet[:text].add_tags %></p>
             <ul class="collapsible" data-collapsible="accordion">
               <li>
                 <div class="collapsible-header active">Translations<i class="material-icons right" id="drop-down">list</i></div>
                 <% [:emoji, :russian, :spanish, :japanese].each do |lang| %>
                   <% if tweet.include?(lang) %>
                    <%= erb :"partials/tweet_partial", :locals => { :tweet => tweet, :language => :emoji, :action => "/tweet" } %>
                   <% end %>
                 <% end %>
               </li>
             </ul>
         </div>
       </div>
       <% end %>
    </div>
  </div>
</div>
