<div class="row">
  <div class="col s3 z-depth-2 sidebar hide-on-small-only" style="background-color:#4b5320;">
    <% if @user_tweets.any? %>
    <h3>All Tweets</h3>
    <p>by <a href="https://twitter.com/TwittamirPutin">@TwittamirPutin</a></p>
    <hr>
  <% @user_tweets.each do |tweet| %>
  <div class="tweets">
    <p><%= tweet.text.add_tags %> <p>
    </div><hr>
    <% end %>
    <% end %>
  </div>
  <div class="col s9">
    <div class="row">
      <div class="col s4">
        <img style="width:200px; margin-top:5px;" src="../img/soviet_guy.gif" alt="POINT" />
      </div>
      <div class="col s4">
        <img style="width:200px; margin-top:5px;" src="../img/soviet_guy.gif" alt="POINT" />
      </div>
      <div class="col s4">
        <img style="width:200px; margin-top:5px;" src="../img/soviet_guy.gif" alt="POINT" />
      </div>
    </div>
    <div class="main-body">
      <h4>In Soviet Russia, Twitter Searches You!</h4>
      <div class="row">


      <form class="form-control" action="/keyword_search/soviet" method="post">

        <div class="col s12">
          <div class="input-field">
            <input type="text" name="search-term" id="search-term">
            <label for="search-term">Enter search term</label>
          </div>
        </div>
      </div>
      <br>
      <button id="submit" name="submit" class="btn orange darken-4" style="color:black;" type="submit">Search away, comrade!</button>
      <br>
    </form>
    <br>

      <div class="row">
        <div class="col s12">
          <% if @translated.any? %>

          <h4>Returned Tweets:</h4>
        <% @translated.each do |tweet| %>
            <div class="row">
                 <div class="col s12">
                   <div class="card-panel grey lighten-3">
                     <p> <b style="font-size: 20px"><%= tweet[:user_name] %></b> <span class="grey-text"> @<a href="https://twitter.com/<%= tweet[:screen_name]%>" class="grey-text"><%= tweet[:screen_name] %></a> • <%= Time.now - tweet[:created_at]%><img src="../img/vlad.png" style="width:40px;" alt="vlad" /></span></p><hr>
                     <p><%= tweet[:text].add_tags %></p>
                   </div>
                     <ul class="collapsible" data-collapsible="accordion">
                         <li>
                          <div class="collapsible-header">See Translations</div>
                            <% if tweet.include?(:emoji) %>
                             <div class="collapsible-body">
                               <p><b>Emoji</b></p>
                               <p><%= tweet[:emoji] %></p>
                               <form action="/tweet_search_soviet" method="post">
                                 <input type="hidden" name="tweet" value=" <%= tweet[:emoji] %>">
                                 <button type="submit" name="button" class="btn amber center" style="margin-left: 10px;">retweet</button>
                               </form>
                             </div>
                             <% end %>
                          <% if tweet.include?(:russian) %>
                           <div class="collapsible-body">
                             <p><b>Russian</b></p>
                             <p><%= tweet[:russian].add_tags %></p>
                             <form action="/tweet_search_soviet" method="post">
                               <input type="hidden" name="tweet" value=" <%= tweet[:russian] %>">
                               <button type="submit" name="button" class="btn amber center" style="margin-left: 10px;">retweet</button>
                             </form>
                           </div>
                           <% end %>
                           <% if tweet.include?(:spanish) %>
                           <div class="collapsible-body">
                             <p><b>Spanish</b></p>
                             <p><%= tweet[:spanish].add_tags %></p>
                             <form action="/tweet_search_soviet" method="post">
                               <input type="hidden" name="tweet" value=" <%= tweet[:spanish] %>">
                               <button type="submit" name="button" class="btn amber center" style="margin-left: 10px;">retweet</button>
                             </form>
                           </div>
                           <% end %>
                           <% if tweet.include?(:japanese) %>
                           <div class="collapsible-body">
                             <p><b>Japanese</b></p>
                             <p><%= tweet[:japanese].add_tags %></p>
                             <form action="/tweet_search_soviet" method="post">
                               <input type="hidden" name="tweet" value=" <%= tweet[:japanese] %>">
                               <button type="submit" name="button" class="btn amber center" style="margin-left: 10px;">retweet</button>
                             </form>
                           </div>
                          <% end %>
                         </li>
                       </ul>
                 </div>
               </div>


          <% end %>
          <% else %>
          <br>
          <br>
            <div id="progress" class="progress amber lighten-4">
                <div class="indeterminate amber"></div>
            </div>

          <% end %>




            <div class="col s4">
              <img style="width:200px;" src="../img/dancing_man.gif" alt="POINT" />
            </div>
            <div class="col s4">
              <img style="width:200px;" src="../img/dancing_man.gif" alt="POINT" />
            </div>
            <div class="col s4">
              <img style="width:200px;" src="../img/dancing_man.gif" alt="POINT" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
