<div class="row">
  <div class="col s3 z-depth-2 blue-grey lighten-5 sidebar">
    <% if @user_tweets.any? %>
    <h3>All Tweets</h3>
    <h5>by <a href="https://twitter.com/Twittamir_Putin">@Twittamir_Putin</a></h5>
    <hr>
  <% @user_tweets.each do |tweet| %>
  <div class="tweets">
    <p><%= tweet.text %> <p>
    </div>
    <% end %>
    <% end %>
  </div>
  <div class="col s9">
    <div class="main-body">
      <h3>Search Twitter by Keyword</h3>
      <div class="row">


      <form class="form-control" action="/keyword_search" method="post">
        <div class="col s6">

        <label for="search_term">Enter search term</label>
        <input type="text" name="search_term" class="form-control">

        <label for="language">Language to translate to:</label>
        <select name='language' class="browser-default">
          <option value="spanish">Spanish</option>
          <option value="english">English</option>
          <option value="russian">Russian</option>
        </select>
      </div>
        <div class="col s6">
        <label for="target_user">Enter target user name to add "@username" before tweet</label>
        <input type="text" name="target_user" class="form-control">
        <label for="switch">Turn on Target User function:</label>
        <div class="switch">
          <label style="font-size: 25px;">
            Off
            <input name="switch" type="checkbox">
            <span class="lever"></span>
            On
          </label>
        </div>
      </div>
    </div>
        <br>
        <button class="btn" type="submit">Submit</button>
      </form>



      <div class="row">
        <div class="col s6">
          <% if @tweets.any? %>
          <h3>Tweets</h3><hr>
        <% @tweets.each do |tweet| %>
        <div class="tweets">
          <p><%= tweet.text %> <p>
          </div>
          <% end %>
          <% end %>
        </div>
        <div class="col s6">
          <% if @translated.any? %>
            <h3>Tweets</h3><hr>
            <% @translated.each do |tweet| %>
              <form action="/tweet" method="post">
                <input type="hidden" name="tweet" value="<%= tweet %>">
                <input type="hidden" name="target" value="<%= @target_user %>">
                <div class="tweets">
                  <p><%= tweet %> <p>
                </div>
                <button type="submit" class="btn">Tweet</button>
              </form>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
