<div class="row">
  <div class="col s3 z-depth-2 blue-grey lighten-5 sidebar hide-on-small-only">
    <% if @user_tweets.any? %>
    <h3>All Tweets</h3>
    <p>by <a href="https://twitter.com/Twittamir_Putin">@Twittamir_Putin</a></p>
    <hr>
  <% @user_tweets.each do |tweet| %>
  <div class="tweets">
    <p><%= tweet.text.add_tags %> <p>
    </div><hr>
    <% end %>
    <% end %>
  </div>
  <div class="col s9">
    <div class="main-body">
      <h3>Search Twitter</h3>
      <div class="row">


      <form class="form-control" action="/keyword_search" method="post">

        <div class="col s12">
          <div class="input-field">
            <input type="text" name="search-term">
            <label for="search-term">Enter search term</label>
          </div>
        </div>
      </div>
      <br>
      <button class="btn blue" type="submit">Search</button>
      <br>
    </form>
    <br>



      <div class="row">
        <div class="col s12">
          <% if @translated.any? %>
          <h4>Returned Tweets:</h4>
        <% @translated.each do |tweet| %>

            <div class="row">
                 <div class="col s12">
                   <div class="card-panel grey lighten-3">
                     <p> <b style="font-size: 20px"><%= tweet[:user_name] %></b> <span class="grey-text"> @<a href="https://twitter.com/<%= tweet[:screen_name]%>" class="grey-text"><%= tweet[:screen_name] %></a> • <%= Time.now - tweet[:created_at]%></span></p><hr>
                     <p><%= tweet[:text].add_tags %></p>
                     <p><%= tweet[:russian].add_tags %></p>
                     <p><%= tweet[:spanish].add_tags %></p>
                     <p><%= tweet[:japanese].add_tags %></p>
                     <div class="card-action">
                       <a href="#!" class="waves-effect waves-circle waves-light btn-floating secondary-content amber">
                         <i class="material-icons">translate</i>
                       </a>
                       <!-- <a href="#" class="btn amber">Translate</a> -->
                     </div>
                   </div>
                 </div>
               </div>


          <% end %>
          <% end %>


        </div>

      </div>
    </div>
  </div>
</div>
