<div class="row">
  <div class="col s3 z-depth-2 blue-grey lighten-5 sidebar">
    <% if @user_tweets.any? %>
    <h3>All Tweets</h3>
    <p>by <a href="https://twitter.com/Twittamir_Putin">@Twittamir_Putin</a></p>
    <hr>
  <% @user_tweets.each do |tweet| %>
  <div class="tweets">
    <p><%= tweet.text %> <p>
    </div><hr>
    <% end %>
    <% end %>
  </div>
  <div class="col s9">
    <div class="main-body">
      <h3>Search Twitter</h3>
      <div class="row">


      <form class="form-control" action="/keyword_search" method="post">
        <div class="col s12">
          <div class="input-field">
            <input type="text" name="search-term">
            <label for="search-term">Enter search term</label>
          </div>
        </div>
      </div>
      <br>
      <button class="btn blue" type="submit">Submit</button>
    </form>

        <!-- <label for="language">Language to translate to:</label>
        <select name='language' class="browser-default">
          <option value="spanish">Spanish</option>
          <option value="english">English</option>
          <option value="russian">Russian</option>
        </select>
        <div class="col s6">
        <label for="target_user">Enter target user name to add "@username" before tweet</label>
        <input type="text" name="target_user" class="form-control">
        <label for="switch">Turn on Target User function:</label>
        <div class="switch">
          <label style="font-size: 25px;">
            Off
            <input name="switch" type="checkbox">
            <span class="lever"></span>
            On
          </label>
        </div>
      </div> -->



      <div class="row">
        <div class="col s12">
          <% if @tweets.any? %>
          <h4>Returned Tweets</h4><hr>
        <% @tweets.each do |tweet| %>





            <div class="row">
                 <div class="col s12">
                   <div class="card">
                     <div class="card-content">
                       <span class="card-title"><%= tweet.user.name %></span>
                       <p>@<%= tweet.user.screen_name %></p>
                       <p><%= tweet.created_at %></p><hr>
                       <p><%= tweet.text %></p>
                     </div>
                   </div>
                 </div>
               </div>


          <% end %>
          <% end %>


        </div>

      </div>
    </div>
  </div>
</div>
